---
const today = new Date();
---
<footer class="py-12 mt-12 border-t border-gray-100 text-center text-sm text-gray-500">
  <div class="max-w-3xl mx-auto px-4">
    &copy; {today.getFullYear()} Luis Caldas de Oliveira. All rights reserved.
  </div>
</footer>
